
#menu ul
{
list-style-type:none;
margin-top:5px;
padding-top:15px;
padding-left:30px;
}
#menu ul li
{
display:inline;
color:black;
padding-left:18px;
padding-right:18px;
padding-top:7px;
padding-bottom:5px;
border-right:2px solid;
border-right-color:black;
}
a{
    text-decoration: none;
}
#menu li:hover
{
    background-color: darkseagreen;
}