
#wrapper
{
    width:1000px;
    height: auto;
    min-height: 1200px;
    margin: 0 auto;
}
#header
{
    width:1000px;
    height: 150px;
}
#logo
{
    width: 150px;
    height: 150px;
    background-color: aqua;
    float: left;
}
#banner
{
    width: 850px;
    height: 150px;
    background-color:blueviolet;
    float:left;
}
#menu
{
    width: 1000px;
    height: 50px;
    background-color:burlywood;
}
#slider
{
    width: 1000px;
    height: 250px;
    background-color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
}
#container
{
    width:1000px;
    height: auto;
    min-height: 600px;
}
#left
{
    width:200px;
    height: auto;
    min-height: 600px;
    float:left;
    background-color: cadetblue;
    
}
#main
{
    width: 800px;
    height: auto;
    min-height: 600px;
    float: left;
    background-color:chocolate;
}
#footer
{
    margin-top: 10px;
    width: 1000px;
    height: 120px;
}
#lfooter
{
    width:500px;
    height: 120px;
    background-color: black;
    color: white;
    float: left;
}
#rfooter
{
    width: 500px;
    height: 120px;
    background-color: navy;
    color: white;
    float: left;
}

#menu ul
{
list-style-type:none;
margin-top:5px;
padding-top:15px;
padding-left:30px;
}
#menu ul li
{
display:inline;
color:black;
padding-left:40px;
padding-right:34px;
padding-top:7px;
padding-bottom:5px;
border-right:2px solid;
border-right-color:black;
}
a{
    text-decoration: none;
}